<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_modulo.Properties.Settings.ModuloDBConnectionString"
            connectionString="Data Source=DESKTOP-QN9VI84\SQLSERVER;Initial Catalog=ModuloDB;User=sa;Password=caos10"
            providerName="System.Data.SqlClient" />
        <add name="App_modulo.Properties.Settings.ClientsDBConnectionString"
            connectionString="Data Source=DESKTOP-QN9VI84\SQLSERVER;Initial Catalog=ModuloDB;User=sa;Password=caos10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>